<hr class="mb-0 mt-5 border-secondary">
<footer class="text-center py-4 bg-light text-muted">
    <p class="mb-0">&copy; 2026 Bản quyền thuộc về Thái Vĩnh Nghi.</p>
    <small>Đồ án môn Điện toán đám mây</small>
</footer>